<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application
    android:label="FamousQuotes"
    android:supportsRtl="true"
    android:theme="@style/Theme.Quote">
    <activity
      android:name=".QuoteReaderActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".QuoteDetailActivity"
      android:exported="true"
      android:theme="@style/Theme.Quote.Detail"/>
  </application>
</manifest>
